.step__items {
    display: flex;
    border-bottom: 1px solid #EEEEEE;
    border-top: 1px solid #EEEEEE;
    padding: 8px 64px;
    margin: 32px -16px 0;

    @media (min-width: 768px) {
        margin: 32px -32px 0;
    }

    @media (min-width: 1024px) {
        margin: 32px -64px 0;
    }
}

a {
    text-decoration: none;
}

.step__item {
    display: flex;
    align-items: center;

    &:last-child {
        .step__pointer{
            display: none;
        }
    }
    
}

.step__pointer {
    width: 6px;
    height: 8px;
    margin-right: 16px;
}

.step__name {
    font-size: 14px;
    line-height: 16px;
    font-weight: 600;
    margin-right: 16px;
    color: #999999;
    text-decoration: none;
}

a.active {
    .step__name {
        color: #0EC261;
    }
}

.step__content {
    display: flex;
    justify-content: space-between;
}
