.car {
    display: flex;
}

.car__input {
    padding: 32px 0;
}

.car__output {
    max-width: 319px;
    height: 100vh;
    padding: 32px 0 32px 32px;
    border-left: 1px solid #EEEEEE;
}

.car__catalog {
    display: flex;
    flex-wrap: wrap;
    margin-top: 48px;
}
.car__item {
    max-width: 368px;
    min-height: 224px;
    border: 1px solid #EEEEEE;
    padding: 16px;
}

.car__item-image {
    width: 100%;
    height: auto;
}

.radio {
    position: absolute;
    z-index: -1;
    opacity: 0;
    margin: 10px 0 0 7px;
}
.radio + label {
    position: relative;
    padding: 0 0 0 20px;
    cursor: pointer;
}
.radio + label:before {
    content: '';
    position: absolute;
    top: 2px;
    left: 0;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background: #ffffff;
    border: 1px solid #999999;
}
.radio + label:after {
    content: '';
    position: absolute;
    top: 2px;
    left: 0px;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background: #ffffff;
    border: 3px solid #0EC261;
    opacity: 0;
    transition: .2s;
}
.radio:checked + label:after {
    opacity: 1;
}
